.services h1,
hr,
.price {
  color: #c0b596;
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.details-card{
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.facility h2 , p , .title{
    color: #c0b596;
}
.review-btn:hover{
  background: #c0b596;
  color: white;
}
.review {
  border-bottom: 1px solid gray;
  width: 90%;
  margin: 0 auto;
}